# dot files
.DS_Store

# Node.js
node_modules
pnpm-lock.yaml
yarn.lock
# package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Scaffold
.env
.env.example
.scaffold
build
dist
logs

# history
.history

# Docs
docs
ZoteroAPI

# vscode
.vscode
.idea

# Coverage directory
coverage

# Temporary files
*.log
*.tmp
.cache

# 冗余文件（next分支特有）
src/modules/
src/services/
src/ui/
# src/modules.next/refer_api/
src/modules.next/ui/pane/